<div class="navbar">
    <a href="/" class="logo">AutoWEB</a>
    <div class="links">
        <a href="/reparacoes" class="link">Reparações</a>
        <a href="/viaturas" class="link">Viaturas</a>
        <a href="/intervencoes" class="link">Intervenções</a>
    </div>
</div>