<div class="navbar">
    <a href="/" class="logo">Cacofonia & Companhia</a>
    <div class="links">
        <a href="/alunos" class="link">Alunos</a>
        <a href="/cursos" class="link">Cursos</a>
        <a href="/instrumentos" class="link">Instrumentos</a>
    </div>
</div>